* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: #e5e5e5;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* Mobile version :) */
  @media (max-width: 768px) {
    /* navbar */
    header {
      width: 375px;
      min-height: 7vh;
      display: flex;
      background-color: #fff;
      margin-top: 50px;
    }
  
    nav {
      width: 93%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .links-holder {
      display: none;
    }
  
    .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      gap: 2px;
    }
  
    .line {
      width: 80%;
      height: 2px;
      font-weight: bold;
      background: #6070ff;
    }
}