* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 375px;
  height: 596px;
  min-height: 90vh;
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */
header {
  width: 375px;
  min-height: 7vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 50px;
  flex-direction: column;
}

.nav-bar {
  width: 93%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-holder {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  gap: 2px;
}

.line {
  width: 80%;
  height: 2px;
  font-weight: bold;
  background: #6070ff;
}

/* headline section styling */
.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: url("images/background.png") center / contain no-repeat;
  width: 375px;
  height: 596px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 70px;
  background-color: #fff;
  margin-bottom: 114px;
}

.headline-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  max-width: 240px;
  color: #172b4d;
}

.about-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 20px;
}
