* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f7f9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */
header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  opacity: 95%;
  width: 375px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 19px;
  margin: 5px 5px;
  margin: 0;
}

.logo {
  color: #6070ff;
  font-size: 25px;
  font-weight: 700;
}

.bi-list {
  width: 30px;
  height: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
}

.links-holder {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  gap: 2px;
}

.line {
  width: 80%;
  height: 2px;
  font-weight: bold;
  background: #6070ff;
}

/* headline section styling */
.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: url("images/background.png") center / contain no-repeat;
  width: 375px;
  height: 596px;
  padding: 20px;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 70px;
  background-color: #fff;
  padding-bottom: 200px;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.headline-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #172b4d;
  padding-right: 10%;
  margin-bottom: 0;
  margin-block-start: 5em;
}

.about-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  color: #4859eb;
  font-weight: 500;
  font-size: 15px;
  margin-block-end: 1em;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  height: 22px;
  width: 22px;
  padding-right: 15px;
  gap: 20px;
  margin-top: 4px;
}
